

@import url("https://fonts.googleapis.com/css2?family=Muli&family=Poppins:wght@400;600;700&family=Quicksand:wght@500;600;700&display=swap");
h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500;
}
p{
    /*font-family: "Muli", sans-serif;*/
    line-height: 28px !important;
    font-size: 15px !important;
    font-family: 'Quicksand', sans-serif !important;
}
/*----Devops Starts---*/
.cour_main{
    font-family: "Quicksand", sans-serif !important;
    font-weight: 700;
    line-height: 1.3;
    color: #07294D;
}


p.sub-text1::before {
    content: "\e4fa";
    font-family: 'FontAwesome';
    font-size: 25px;
}
p.sub-text2::before {
    content: "\f234";
    font-family: 'FontAwesome';
    font-size: 25px;
}
p.sub-text3::before {
    content: "\f64a";
    font-family: 'FontAwesome';
    font-size: 25px;
}
p.sub-text4::before {
    content: "\f51e";
    font-family: 'FontAwesome';
    font-size: 25px;
}
p.sub-text5::before {
    content: "\f2b5";
    font-family: 'FontAwesome';
    font-size: 25px;
}
p.sub-text6::before {
    content: "\e4e9";
    font-family: 'FontAwesome';
    font-size: 25px;
}
h3.demo
{
    font-family: "Quicksand", sans-serif !important;
    font-weight: 700;
    line-height: 1.3;
    color: #07294D;
    text-align: center;
}
i.fa-solid.fa-circle-arrow-right {
    font-size: 2rem;
}
a.btn.btn-outline-colored {
    border: 1px solid #192f59;
    font-weight: 500;
    transition: background-color 1s;
}

a.btn.btn-outline-colored:hover {
    background-color: #192f59;
    color: #ffffff;
}
.checkbo.grp {
    position: relative;
    padding: 2px 7px !important;
}

input.form-check-input.frmc {
    /* position: inherit; */
    margin-left: 20px;
}
h3.set_head {
    font-family: "Quicksand", sans-serif !important;
    font-weight: 700;
    line-height: 1.3;
    color: #07294D;
}
.container.demo_sheet {
    border: 1px solid #192f595c !important;
    padding: 20px 20px;
}
.checkbox.d-inline-block.grp {
    padding-inline-end: 12px;
}
a.btn.btn-outline-color {
    border: 1px solid #192f59 !important;
    font-weight: 500;
    /* color: #ffffff; */
    transition: background-color 1s;
}

a.btn.btn-outline-color:hover {
    background-color: #192f59;
    color: #ffffff;
    font-weight: 500;
}